* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --middleGrey: #887a6f;
    --quickSilver: #9DA5A8;
    --champagne: #F4EFC9;
    --chestnut: #874F3E;
    --raisinBlack: #1B1C21;
}

body {
    background-color: var(--middleGrey);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: min-content;
}

h1 {
    font-size: 60px;
    margin-left: 50px;
    font-family: 'Merienda', cursive;
    color: var(--champagne);
}

h2 {
    margin-bottom: 15px;
    margin-right: 20px;
    font-size: 36px;
    font-family: 'Montserrat', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--raisinBlack);
}

p {
    font-size: 18px;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
    line-height: 150%;
}

header {
    padding: 20px;
    background-color: var(--raisinBlack);
    background-image: linear-gradient(315deg, #494949 10%, var(--raisinBlack) 54%);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav {
    padding-top: 15px;
    font-family: 'Montserrat', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    justify-content: flex-end;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px;
}

header nav ul li a {
    color: var(--champagne);
    text-decoration: underline solid var(--chestnut);
    text-decoration-thickness: 7px;
}

footer {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

 footer h2 {
    font-size: 20px;
 }

 .head-image {
    height: 300px;
    width: 100%;
    background-image: url("../images/pexels-evie-shaffer-4004374.jpg");
    background-size: cover;
    background-position: center;
}

.main-content article {
    width: 85%;
    margin-bottom: 5px;
    padding: 20px;
    background-color: var(--champagne);
    box-shadow: 5px 5px 5px var(--raisinBlack);
    border-radius: 10px;
    flex: 1;    
}

.main-content img {
    max-width: 100%;
    max-height: auto;
    border-radius: 10px;
}

.portfolio-img {
    flex: 1 0 200px;
    min-width: 400px;
    max-width: 100%;
    border-radius: 10px;
}

.main-content section {
    display: inline-block;
}

.container {
    position: relative;
    display: inline-block;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--chestnut);
    color: var(--raisinBlack);
    font-weight: bold;
    padding: 20px;
}

.contact {
    flex: 1;
    margin-bottom: 5px;
    padding: 20px;
    width: 80%;
    background-color: var(--chestnut);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--raisinBlack);
}

.contact-img {
    display: inline-flex;
    border-radius: 15px;
    margin: 10px auto;
    width: 50px;
}

@media screen and (max-width: 992px) {
  body {
      flex-direction: column;
  }
  .main-content img {
      max-width: 95%;
  }
}