* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: solid #5B6DCD 2px;
}

body {
    background-color: #887a6f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: min-content;
}

.head-image {
    height: 300px;
    width: 100%;
    background-image: url("../images/pexels-evie-shaffer-4004374.jpg");
    background-size: cover;
    background-position: center;
}

header {
    padding: 20px;
    background-color: #1b1c21;
    background-image: linear-gradient(315deg, #494949 10%, #1b1c21 54%);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-size: 60px;
    margin-left: 50px;
    font-family: 'Merienda', cursive;
    color: #F4EFC9;
    font-weight: bolder;
}

header nav {
    padding-top: 15px;
    font-family: 'Montserrat', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    justify-content: flex-end;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px;
}

header nav ul li a {
    color: #F4EFC9;
    text-decoration: underline solid #874f3e;
    text-decoration-thickness: 7px;
}

a {
    color: #F4EFC9;
}

p {
    font-size: 18px;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
    line-height: 150%;
}

main {
    flex-wrap: wrap;
    padding-right: 5px;
}

.main-content article {
    width: 80%;
    margin-bottom: 5px;
    padding: 20px;
    font-family: 'Montserrat', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F4EFC9;
    color: #1b1c21;
    box-shadow: 5px 5px 5px #1b1c21;
    border-radius: 10px;
    flex: 1;    
}

.main-content img {
    flex: 1 0 200px;
    max-width: 400px;
    min-width: 400px;
    border-radius: 10px;
}

.main-content h2 {
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 36px;
}

.main-content section {
    display: inline-block;
}

.main-content section a {
    color: #1b1c21;
}

.container {
    position: relative;
    display: inline-block;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #874f3e;
    color: black;
    font-weight: bold;
    padding: 20px;
}

aside {
    flex: 1;
    margin-bottom: 5px;
    padding: 20px;
    width: 80%;
    font-family: 'Montserrat', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #874f3e;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #1b1c21;
}

aside h2 {
    width: 20%;
    margin-bottom: 10px;
    text-align: center;
    color: #1b1c21;
}

.contact-img {
    display: inline-flex;
    border-radius: 15px;
    margin: 10px auto;
    width: 50px;
}

footer {
    padding: 30px;
    font-family: 'Montserrat Alternates', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #050A0E;
    width: 100%;
    bottom: 0;
}

footer h2 {
    font-size: 20px;
}

@media screen and (max-width: 992px) {
  body {
      flex-direction: column;
  }